@page
@model PrivacyModel
@{

    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>

</head>
<h1>@ViewData["Title"]</h1>
<br />
<h3>Datenschutzerklärung </h3>
<br />
<ul>
    <li>
        <h5> 1. Verantwortlicher:</h5>
        Diese Webseite wird betrieben von Adrian Eschberger,
        ansässig in Kollenbacherstraße 37, 51515 Kürten. <br />
        Bei Fragen zum Datenschutz kannst du uns unter jobrentabilitaet@gmail.com erreichen.
        <br /><b>Bitte beachten sie, dass wir keine personenbezogenen Daten speichern oder verarbeiten.</b>
    </li>
    <br />
    <li>
        <h5>2. Hosting: </h5>
        Unsere Webseite wird bei IONOS gehostet.<br />
        Die Server, auf denen unsere Webseite gehostet wird, befinden sich in Deutschland
        und unterliegen den geltenden Datenschutzgesetzen.<br />
        IONOS stellt sicher, dass alle Daten sicher verarbeitet und gespeichert werden.<br />
        Da wir jedoch keine personenbezogenen Daten erheben oder speichern, 
        betrifft dies hauptsächlich den Schutz der Webseite selbst.
    </li>
    <br />
    <li>
        <h5>3. Keine Speicherung personenbezogener Daten:</h5> 
        Unsere Webseite speichert keine personenbezogenen Daten.<br />
        Alle Eingaben, die du auf unserer Webseite machst (z. B. zur Berechnung von Gehaltsdifferenzen),
        werden ausschließlich für die Dauer deiner Sitzung verwendet und nicht dauerhaft gespeichert.
    </li>
    <br />
    <li>
        <h5>4. Keine Nutzung von Cookies oder Tracking-Tools:</h5>
        Wir verwenden keine Cookies, Tracking-Tools oder andere Technologien, 
        um dein Nutzerverhalten auf unserer Webseite zu verfolgen. <br />
        Dein Besuch auf unserer Webseite bleibt anonym, und es werden keine Daten gesammelt, 
        die Rückschlüsse auf deine Person zulassen.
    </li>
    <br />
    <li>
        <h5>5. Berechnungen und Datenverarbeitung: </h5>
        Die auf der Webseite durchgeführten Berechnungen basieren auf den von dir eingegebenen Daten
        (z. B. Bruttogehalt, Pendelkosten). 
        Diese Daten werden ausschließlich für die Berechnung verwendet und nach Verlassen der Seite 
        oder Schließen des Browsers nicht weiter gespeichert oder verarbeitet.
    </li>
    <br />
    <li>
        <h5>6. Sicherheit: </h5>
        Wir treffen technische und organisatorische Maßnahmen,
        um die Sicherheit unserer Webseite zu gewährleisten und vor unbefugtem Zugriff 
        oder Missbrauch zu schützen. <br />
        Da jedoch keine personenbezogenen Daten erhoben werden,
        betreffen diese Maßnahmen hauptsächlich den allgemeinen Schutz der Webseite.
    </li>
    <br />
    <li>
        <h5>7. Keine personenbezogene Kommunikation:</h5>
        Unsere Webseite bietet keine Möglichkeiten zur direkten Kommunikation oder Kontaktaufnahme, 
        die personenbezogene Daten erfordern würden (z. B. Kontaktformulare, Newsletter-Anmeldungen).<br />
        Es werden keine E-Mail-Adressen oder andere persönliche Informationen gesammelt oder gespeichert.
    </li>
    <br />
    <li>
        <h5>8. Keine Rechte auf Auskunft, Berichtigung oder Löschung: </h5>
        Da auf unserer Webseite keine personenbezogenen Daten gespeichert oder verarbeitet werden, 
        entfallen auch die Rechte auf Auskunft, Berichtigung, Löschung oder Einschränkung der Verarbeitung
        solcher Daten.
    </li>
    <br />
    <li>
        <h5>9. Änderungen dieser Datenschutzerklärung: </h5>
        Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern, 
        um sie an neue rechtliche Anforderungen oder geänderte Funktionen unserer Webseite anzupassen.<br />
        Die jeweils aktuelle Version der Datenschutzerklärung ist auf unserer Webseite einsehbar.
    </li>
</ul>           
